# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [ ]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

## District Summary

In [ ]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

In [ ]:
# Calculate the total number of students
student_count =  school_data_complete["Student ID"].count()
student_count

In [ ]:
# Calculate the total budget
total_budget= school_data_complete["budget"].sum()
total_budget

In [ ]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

In [ ]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete ["reading_score"].mean()
average_reading_score

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = (school_data_complete)[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (passing_math_count)/float(student_count)* 100
passing_math_percentage

In [ ]:
#Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = (school_data_complete)[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = (passing_reading_count) / float(student_count)* 100
passing_reading_percentage

In [ ]:
#Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /float(student_count) * 100 
overall_passing_rate

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total School":[school_count],
    "Total Students":[student_count],
    "Total Budget": [total_budget],
    "average math score" :[average_math_score],
    "average reading score":[average_reading_score],
    "% passing math": [passing_math_count],
    "% passing reading":[passing_reading_count],
    "% Overall Passing Rate":[overall_passing_rate]

})

# Formatting

district_summary["Total School"] = district_summary["Total School"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,.2f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["average math score"] = district_summary["average math score"].map("{:,.2f}".format)
district_summary["average reading score"] = district_summary["average reading score"].map("{:,.2f}".format)
district_summary["% passing math"] = district_summary["% passing math"].map("{:,.2f}".format)
district_summary["% passing reading"] = district_summary["% passing reading"].map("{:,.2f}".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:,.2f}".format)


# Display the DataFrame
district_summary

## School Summary

In [ ]:
# school type
school_type = grouped_school['type'].first()
school_type

In [ ]:
# Calculate the total student count for each school
grouped_school = school_data_complete.groupby(['school_name'])
total_student_by_school = grouped_school.size()
total_student_by_school

In [ ]:
# Calculate the total school budget and per capita spending
school_budget = grouped_school['budget'].first()
school_budget

In [ ]:
#per student total budet
per_studet_budget =school_budget/total_student_by_school
per_studet_budget

In [ ]:
# Calculate the average test scores per_school_math
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_math

In [ ]:
# Calculate the average test scores per_school_reading
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

In [ ]:
#  Calculate the number of schools with math scores of 70 or higher(%passing math )
numbSchool_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (numbSchool_passing_math/student_count)*100
percent_passing_math

In [ ]:
# Calculate the number of schools with reading scores of 70 or higher(%passing reading)
numbSchool_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (numbSchool_passing_reading/student_count)*100
percent_passing_reading

In [ ]:
# Use the provided code to calculate the passing rates
numbSchool_passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name']).size()
percent_passing_math = (numbSchool_passing_math/student_count)*100
percent_passing_math

In [ ]:
#Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher()(over all passing rate)

overall_passing = (percent_passing_math + percent_passing_reading)/2
overall_passing

In [154]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
school_summary = {
    'School Type': school_type,
    'Total Students':total_student_by_school,
    'Total School budget':school_budget ,
    'Per Student Budget':per_studet_budget,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': numbSchool_passing_math,
    '% Passing Reading': numbSchool_passing_reading,
    '%overall passing Rate':overall_passing
    }

per_school_summary = pd.DataFrame(school_summary)

# per_school_summary["Total School budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary

,School Type,Total Students,Total School budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%overall passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,9.439622
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,4.534082
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,5.523360
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,5.160837
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,3.570334
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,3094,3748,8.733725
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,395,411,1.028849
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,1916,2372,5.473577
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,3145,3867,8.950728
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,910,923,2.339801
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,2654,3208,7.482767
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1653,1688,4.264743
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,1525,1591,3.977534
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,2143,2204,5.548889
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,1680,1739,4.364309

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

High_perform_school = pd.DataFrame({
    'School Type': school_type,
    'Total Students':total_student_by_school,
    '%overall passing Rate':overall_passing.head()})
High_perform_school.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
# = bottom_schools.head(5)
low_perform_school = pd.DataFrame({
    'School Type': school_type,
    'Total Students':total_student_by_school,
    '%overall passing Rate':overall_passing
})
low_perform_school.tail()

## Math Scores by Grade

In [ ]:
# # ############# orignal create dataFrame 
# # Use the code provided to separate the data by grade
# ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
# tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
# eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
# twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# # Group by "school_name" and take the mean of each.
# ninth_graders_scores = 
# tenth_graders_scores = 
# eleventh_graders_scores = 
# twelfth_graders_scores = 

# # Use the code to select only the `math_score`.
# ninth_grade_math_scores = ninth_graders_scores["math_score"]
# tenth_grader_math_scores = tenth_graders_scores["math_score"]
# eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
# twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# # Combine each of the scores above into single DataFrame called `math_scores_by_grade`
# math_scores_by_grade = 

# # Minor data wrangling
# math_scores_by_grade.index.name = None

# # Display the DataFrame
# math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
nineth_grouped = ninth_graders.groupby(['school_name'])
tenth_grouped = tenth_graders.groupby(['school_name'])
eleventh_grouped = eleventh_graders.groupby(['school_name'])
twelveth_grouped = twelfth_graders.groupby(['school_name'])

# Use the code to select only the `math_score`.
# #Average Math Scores by Grade
math_nineth_mean = nineth_grouped['math_score'].mean()
math_tenth_mean = tenth_grouped['math_score'].mean()
math_eleventh_mean = eleventh_grouped['math_score'].mean()
math_twelveth_mean = twelveth_grouped['math_score'].mean()

# # Creating dictionary holding the results 

math_scores_by_grade  = pd.DataFrame({
    '9th': math_nineth_mean,
    '10th': math_tenth_mean,
    '11th': math_eleventh_mean,
    '12th': math_twelveth_mean
})

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = math_scores_by_grade[['9th', '10th', '11th', '12th']]
math_scores_by_grade.index.name = "School Name"
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(['school_name'])
tenth_graders_scores = tenth_graders.groupby(['school_name'])
eleventh_graders_scores = eleventh_graders.groupby(['school_name'])
twelfth_graders_scores = twelfth_graders.groupby(['school_name'])

# Use the code to select only the `reading_score`.
 #Average Math Scores by Grade
ninth_grade_reading_scores = ninth_graders_scores["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders_scores["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade  = pd.DataFrame({
    '9th': ninth_grade_reading_scores,
    '10th':tenth_grader_reading_scores,
    '11th': eleventh_grader_reading_scores,
    '12th': twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =  pd.cut(school_spending_df["Per Student Budget"],spending_bins,labels=labels)

school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
#overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall =(spending_passing_math + spending_passing_reading)/2

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
            'Average Math Score': spending_math_scores,
            'average_reading_score': spending_reading_scores,
            '% Passing Math': spending_passing_math,
            '% passing Reading': spending_passing_reading,
            '%overall passing Rate': overall
    
})

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary['Total Students'],size_bins, labels= labels)
per_school_summary

In [142]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
#size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]
overall =(spending_passing_math + spending_passing_reading)/2

In [145]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
            'Average Math Score': size_math_scores,
            'average_reading_score':size_reading_scores,
            '% Passing Math': size_passing_math,
            '% passing Reading': size_passing_reading,
            '%overall passing Rate': overall

})
# Display results
size_summary

,Average Math Score,average_reading_score,% Passing Math,% passing Reading,%overall passing Rate
$585-630,NaN,NaN,NaN,NaN,1920.750000
$630-645,NaN,NaN,NaN,NaN,2168.500000
$645-680,NaN,NaN,NaN,NaN,3023.666667
<$585,NaN,NaN,NaN,NaN,1515.500000
Large (2000-5000),77.746417,81.344493,2510.875,3003.625,NaN
Medium (1000-2000),83.374684,83.864438,1595.600,1649.400,NaN
Small (<1000),83.821598,83.929843,652.500,667.000,NaN

## Scores by School Type

In [174]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
group_type= per_school_summary.groupby('School Type')
group_type

In [175]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby('School Type')
type_reading_scores = per_school_summary.groupby('School Type')
type_passing_math = per_school_summary.groupby('School Type')
type_passing_reading = per_school_summary.groupby('School Type')
#type_overall_passing = per_school_summary.groupby('school_Type').mean()["Average Math Score"]
overall =(spending_passing_math + spending_passing_reading)/2

In [183]:

# Use the code provided to select new column data
average_math_score_by_type = group_type["Average Math Score"].mean()
average_reading_score_by_type = group_type["Average Reading Score"].mean()
average_percent_passing_math_by_type =group_type["% Passing Math"].mean()
average_percent_passing_reading_by_type = group_type["% Passing Reading"].mean()
#average_percent_overall_passing_by_type = group_type["% Overall Passing"].mean()
overall =(spending_passing_math + spending_passing_reading)/2

In [184]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
        'Average Math Score': average_math_score_by_type,
        'average_reading_score':average_reading_score_by_type,
        '% Passing Math': average_percent_passing_math_by_type ,
        '% passing Reading': average_percent_passing_reading_by_type,
        '%overall passing Rate': overall

})

# Display results
type_summary

,Average Math Score,average_reading_score,% Passing Math,% passing Reading,%overall passing Rate
$585-630,NaN,NaN,NaN,NaN,1920.750000
$630-645,NaN,NaN,NaN,NaN,2168.500000
$645-680,NaN,NaN,NaN,NaN,3023.666667
<$585,NaN,NaN,NaN,NaN,1515.500000
Charter,83.473852,83.896421,1428.250000,1473.125000,NaN
District,76.956733,80.966636,2563.428571,3117.857143,NaN